# Dependencies
node_modules/

# Build outputs & caches
dist/
.vite/
.cache/

# Local Terraform plans & states (prevent leaking sensitive infra plans)
plan.json
plan.out
*.tfplan
*.plan
.terraform/
terraform.tfstate*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~
